body{
     background: #0B3B17 
}
#page{
	width: 800px;
	margin: 0 auto 0 auto;
}
#cabecalio{
	width: 800px; 
	height: 150px; 
	background: #0B6121; 
}
#nav{
	width: 800px; 
	height: 50px; 
	background: #0B6121;
	margin: 10px 0 10px 0;
}

#nav li{
	display: inline-block;
	padding: 15px 90px;
	text-decoration: none;
	color: #5b4f3f;
	
	font-weight: bold;
}

#esquerda{
	width: 200px; 
	height: 500px; 
	background: #0B6121;
	float: left;
	margin: 0 10px  0 0;	
	float: center;
	text-align: center;
}
#foto{
	width: 180px; 
	height: 200px; 
	float: left;
	
	margin: 10px 10px 10px 10px;	
}
#content{
	width: 590px; 
	height: 500px; 
	background: #0B6121;
	float: left;	
}
#rodape{
	width: 800px; 
	height: 50px; 
	background: #0B6121;
	float:left;
	margin: 10px 0 0 0;	
}